/buildfiles
/__MAIN_FILE.fls
/__MAIN_FILE.synctex.gz
*.blg
lib/literature.bib.sav

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.lck

# inkscapestuff
drawings/main.svg
svg-inkscape/*
*svg-raw.pdf
*svg-tex.pdf
*.pdf_tex