/buildfiles
/__MAIN_FILE.fls
/__MAIN_FILE.synctex.gz
*.blg
lib/literature.bib.sav
/__MAIN_FILE.pdf
/__MAIN_FILE_compressed.pdf
*.zip
/pictures/footage/raw/*

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# KiCAD
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.lck
\#auto_saved_files\#
/electronics/pdf/*.pdf
/electronics/sim/*.pdf
/electronics/sim/*.emf

# inkscapestuff
drawings/main.svg
svg-inkscape/*
*svg-raw.pdf
*svg-tex.pdf
*.pdf_tex

# ltex
ltex.dictionary.*

pictures/footage/raw/2023-08-22-12-29-33-436.jpg
pictures/footage/raw/2023-08-22-12-36-15-389.jpg
pictures/footage/raw/2023-08-22-15-53-14-295.jpg
pictures/footage/raw/2023-08-30-18-24-55-544.jpg
pictures/footage/raw/2023-08-30-18-24-59-821.mp4
pictures/footage/raw/2023-09-04-11-14-27-042.jpg
pictures/footage/raw/2023-09-06-18-43-34-925.jpg
pictures/footage/raw/2023-09-07-13-20-27-862.jpg
pictures/footage/raw/2023-09-07-14-57-28-571.jpg
pictures/footage/raw/2023-09-07-17-57-56-733.jpg
pictures/footage/raw/2023-09-07-18-45-59-022.jpg
pictures/footage/raw/2023-09-08-17-05-46-157.jpg
pictures/footage/raw/2023-09-08-17-05-50-180.jpg
pictures/footage/raw/2023-09-08-17-05-53-898.jpg
pictures/footage/raw/2023-09-08-19-02-09-890.jpg
pictures/footage/raw/2023-09-08-19-02-18-055.jpg
pictures/footage/raw/2023-09-12-13-16-50-150.jpg
pictures/footage/raw/2023-09-12-13-16-57-064.jpg
pictures/footage/raw/2023-09-12-13-17-05-756.jpg
pictures/footage/raw/2023-09-12-18-58-38-402.jpg
pictures/footage/raw/2023-09-14-11-13-05-209.jpg
pictures/footage/raw/2023-09-14-11-13-16-999.jpg
pictures/footage/raw/2023-09-14-16-33-20-096.jpg
pictures/footage/raw/interface_top_view.jpg
pictures/footage/raw/PXL_20230807_103517237.MV.jpg
pictures/footage/raw/stage_bearings.png
